.scrolling-gallery-container {
  position: relative;
  white-space: nowrap;
  width: 600px;
  height: 600px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  .image-container {
    scroll-snap-align: center;
    position: relative;
    display: inline-block;
    width: 600px;
    height: 600px;

    .blur-image {
      position: absolute;
      opacity: 1;
      transition: opacity 0.2s linear;

      &.hide {
        opacity: 0;
      }
    }
  }
}

.image-gallery-thumbnail-container {
  position: relative;
  white-space: nowrap;
  width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  .thumbnail-image-container {
    scroll-snap-align: start;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;

    &.active {
      border: 5px solid red;
    }

    .thumbnail-main-image {
      width: 200px;
      height: 200px;
    }

    .thumbnail-blur-image {
      position: absolute;
      opacity: 1;
      transition: opacity 0.2s linear;

      &.hide {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
